html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
  }
  h5{
    
    text-align: center;
    font-size: 20px;
  }
  
  i{
    margin: 0;
    font-size: 80px;
}

.proyecto{
  margin-right: 75px;
}

.boton{
 
  margin-top: 80px;
  margin-bottom: 130px;
  margin-right: 60px;
  text-align: center;
}

.boton a{
  
  background-color: #1f2235;
  border-radius: 0.5rem solid black ;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 50px;
}
.boton a:hover{
  background-color: #273038;
  
}

/*ICONS*/

.fa-python{
    margin-left: 35%;
}
.fa-js{
    margin-left: 35%;
}


.fa-vuejs{
    margin-left:  35%;
}

.fa-css3-alt{

    margin-left:  37%;
}

.fa-html5{
    margin-left:  35%;
}
.fa-bootstrap{
  margin-left: 30%;
}
/*COLOR OF ICONS*/

.javascript:hover{
  background-color: #FAE64D;
}
.vue:hover{
  background-color: #25be58;
}
.boos:hover{
  background-color: #7C14A8;
}
.css:hover{
  background-color: #0580B5;
}

.html:hover{
  background-color: #CC4008;
}

.python:hover{
  background-color:  #448DB8;
}




  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }
  
  /* Navigation */
  .navigation-link {
      text-decoration: none;
    border: 2px solid transparent;
  }
  
  .navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
  }
  
  /* Main Container height*/
  .main-container {
      width: auto;
     height: 95vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Aligning items in main row */
  .main_row {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Changing Name Font sixe */
  .main_row h1 {
    font-size: 5rem;
  }
  
  /* Making the main image the size of the screen */
  
  
  /* About Section */
  .about {
    background: #313552;
    border-radius: 0.5rem;
  }
  
  .card {
    border-bottom: 8px solid #f5ba09;
  }
  
  /* Social Media Section */
  #social-media {
    background: #313552;
  }
  
  /* Add color to Social Media Links */
  .media_link {
   
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
  }

  .titulo{
    margin-right: 110px;
    text-align: center;
  }